html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}
.layar-lebar {
	background-image: url('https://th.bing.com/th/id/OIP.iehs2mxhKHwifMtiw9Ab1AHaDj?w=300&h=168&c=7&r=0&o=5&dpr=1.3&pid=1.7');
    background-size: cover;
    background-position: center;
	width: 99vw;
	height: 100px;
	background-color: silver;
	position: absolute;
	top: 0;
}
#judul-web {
	padding: 20px;
	text-align: center;
	line-height: 1px;

}

#judul-web h1 {
	font-family: Ink Free;
	font-size: 45px;
	letter-spacing: 5px;
}
#judul-web h5 {
	font-style: Tw Cen MT;
}

.menu {
	width: 99vw;
	height: 30px;
	background-color: rgb(173, 216, 230);
	position: absolute;
	top: 100px;
	text-align: center;

}

.menu a:hover {
	color: white;
	width: 100px;
    height: 100px;
    background-color: #333;
    border-radius: 7%;
    text-decoration:none ;
 }

 .menu a {
 	font-family: Comic Sans MS;
 	text-decoration:none ;
 }

.kontainer {
	display: flex; /* Membuat div di dalamnya bersebelahan */
    justify-content: space-between; /* Mengatur jarak antara dua div */
    gap: 10px; /* Menambahkan jarak antar kotak */
    padding: 100px;
    margin: 40px;

}

.kotak {
	width: 50%;
    height: 300px;
    background-color: silver; /* Warna kotak */
    border-radius: 10px; /* Membuat sudut kotak bulat */
}

.simple-footer {
	background-image: url('https://th.bing.com/th/id/OIP.iehs2mxhKHwifMtiw9Ab1AHaDj?w=300&h=168&c=7&r=0&o=5&dpr=1.3&pid=1.7');
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 50px 0;
    font-size: 14px;
}

.simple-footer a, p {
    color: #333;
    text-decoration: none;
    margin: 0 10px;
    font-style: Aptos;
}

.simple-footer a:hover {
    text-decoration: underline;
    background-color: #333;
    color: white;
    border-radius: 7%;
}

body {
	background-image: url('https://th.bing.com/th/id/OIP.4aSlfBkaDfOMORALha6YEgHaF7?rs=1&pid=ImgDetMain');
    background-size: cover;
    background-position: center;
}